In [1]:
import pandas as pd
import numpy as np
import re

d:\python3.8.5\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
d:\python3.8.5\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
d:\python3.8.5\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
data=pd.read_csv("books_1.Best_Books_Ever.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4938 entries, 0 to 4937
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bookId            4938 non-null   object
 1   title             4938 non-null   object
 2   series            2615 non-null   object
 3   author            4938 non-null   object
 4   rating            4938 non-null   float64
 5   description       4912 non-null   object
 6   language          4814 non-null   object
 7   isbn              4938 non-null   object
 8   genres            4938 non-null   object
 9   characters        4938 non-null   object
 10  bookFormat        4919 non-null   object
 11  edition           815 non-null    object
 12  pages             4886 non-null   object
 13  publisher         4798 non-null   object
 14  publishDate       4924 non-null   object
 15  firstPublishDate  3285 non-null   object
 16  awards            4938 non-null   object
 17  numRatings        4938 non-null   int64
 18  ratingsByStars    4938 non-null   object
 19  likedPercent      4938 non-null   int64
 20  setting           4938 non-null   object
 21  coverImg          4933 non-null   object
 22  bbeScore          4938 non-null   int64
 23  bbeVotes          4938 non-null   int64
 24  price             4007 non-null   float64
dtypes: float64(2), int64(4), object(19)
memory usage: 964.6+ KB

In [4]:
data.head()

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",...,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPr√© (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",...,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",...,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",...,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.10

In [5]:
df=data[["bookId","title","price","author"]]

In [6]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4938 entries, 0 to 4937
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bookId  4938 non-null   object
 1   title   4938 non-null   object
 2   price   4007 non-null   float64
 3   author  4938 non-null   object
dtypes: float64(1), object(3)
memory usage: 154.4+ KB

In [7]:
df["price"]=df["price"].fillna(value=df["price"].mean())

df["price"]=df["price"].apply(lambda x :round(x*76,2))

C:\Users\kollu\AppData\Local\Temp\ipykernel_6232\2208547109.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price"]=df["price"].fillna(value=df["price"].mean())
C:\Users\kollu\AppData\Local\Temp\ipykernel_6232\2208547109.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price"]=df["price"].apply(lambda x :round(x*76,2))

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4938 entries, 0 to 4937
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bookId  4938 non-null   object
 1   title   4938 non-null   object
 2   price   4938 non-null   float64
 3   author  4938 non-null   object
dtypes: float64(1), object(3)
memory usage: 154.4+ KB

In [9]:
a_id=np.random.default_rng().choice(np.arange(start=3000,stop=9000),(len(df["author"].unique())),replace=False)

In [10]:
authors=pd.DataFrame()
authors["authors"]=df["author"].unique()

In [11]:
authors["a_id"]=a_id

In [12]:
authors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2777 entries, 0 to 2776
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   authors  2777 non-null   object
 1   a_id     2777 non-null   int32
dtypes: int32(1), object(1)
memory usage: 32.7+ KB

In [13]:
joined_table=pd.merge(df,authors,how="left",left_on="author",right_on="authors")

In [14]:
joined_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4938 entries, 0 to 4937
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   bookId   4938 non-null   object
 1   title    4938 non-null   object
 2   price    4938 non-null   float64
 3   author   4938 non-null   object
 4   authors  4938 non-null   object
 5   a_id     4938 non-null   int32
dtypes: float64(1), int32(1), object(4)
memory usage: 250.8+ KB

In [15]:
joined_table.drop(columns=["authors"],inplace=True)
joined_table.to_csv("Books_data.csv")

In [16]:
joined_table["b_id"]=joined_table["bookId"].apply(lambda x: x.split(".")[0])
joined_table["b_id"]=joined_table["b_id"].apply(lambda x: x if str.isnumeric(x) else 9999)
joined_table["b_id"]=joined_table["b_id"].astype(int)

In [17]:
joined_table.drop(columns=["bookId"],inplace=True)
joined_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4938 entries, 0 to 4937
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   4938 non-null   object
 1   price   4938 non-null   float64
 2   author  4938 non-null   object
 3   a_id    4938 non-null   int32
 4   b_id    4938 non-null   int32
dtypes: float64(1), int32(2), object(2)
memory usage: 192.9+ KB

In [18]:
joined_table.head()

,title,price,author,a_id,b_id
0,The Hunger Games,386.84,Suzanne Collins,4555,9999
1,Harry Potter and the Order of the Phoenix,560.88,"J.K. Rowling, Mary GrandPr√© (Illustrator)",8674,2
2,To Kill a Mockingbird,529.42,Harper Lee,7384,2657
3,Pride and Prejudice,529.42,"Jane Austen, Anna Quindlen (Introduction)",8497,1885
4,Twilight,159.60,Stephenie Meyer,5513,41865

In [19]:
joined_table.head()

,title,price,author,a_id,b_id
0,The Hunger Games,386.84,Suzanne Collins,4555,9999
1,Harry Potter and the Order of the Phoenix,560.88,"J.K. Rowling, Mary GrandPr√© (Illustrator)",8674,2
2,To Kill a Mockingbird,529.42,Harper Lee,7384,2657
3,Pride and Prejudice,529.42,"Jane Austen, Anna Quindlen (Introduction)",8497,1885
4,Twilight,159.60,Stephenie Meyer,5513,41865

In [20]:
joined_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4938 entries, 0 to 4937
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   4938 non-null   object
 1   price   4938 non-null   float64
 2   author  4938 non-null   object
 3   a_id    4938 non-null   int32
 4   b_id    4938 non-null   int32
dtypes: float64(1), int32(2), object(2)
memory usage: 192.9+ KB